/* Poppins Font */
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/* Navigation Bar */
#navigationbar {
    font-family: "Poppins";
    padding-top: 13px;
    padding-bottom: 13px;
    height: 180px;
}

/* Navigation Bar Logo */
#navbarlogo {
    margin-left: 80px;
}

/* Navigation Bar Logo Image */
#navbarlogo img {
    width: 140px;
    height: auto;
}

/* Navigation Bar Links */
#navbarlinks {
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar Links & Dropdown Menu (When Focused) */
#navbarlinks :focus {
    box-shadow: 0 0 0 0.2rem rgba(148, 121, 98, 0.25);
}

/* Navigation Bar Dropdown Menu (When Hovered) */
#navbardropdown .nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

/* Navigation Bar Dropdown Menu */
#navbardropdown .dropdown-menu {
    display: none;
    background-color: #343a40;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1000;
}

/* Navigation Bar Dropdown Menu Item */
#navbardropdown .dropdown-item {
    color: white;
}

/* Navigation Bar Dropdown Menu Item (When Hovered) */
#navbardropdown .dropdown-item:hover {
    background-color: #495057;
    color: white;
}

/* Navigation Bar Dropdown Menu Item (When Focused) */
#navbardropdown .dropdown-item:focus {
    outline: none;
    background-color: #343a40;
    box-shadow: 0 0 0 0.2rem rgba(148, 121, 98, 0.25);
}


/* Navigation Bar Search Button */
#navbarbutton {
    background-color: #947962;
    border: #1E151C;
    font-weight: 700;
}

/* Navigation Bar Search Button (When Focused) */
#navbarbutton:focus {
    border-color: #947962;
    box-shadow: 0 0 0 0.2rem rgba(148, 121, 98, 0.25);
}

/* Navigation Bar Search Form (When Focused) */
#navbarsearch .form-control:focus {
    border-color: #947962;
    box-shadow: 0 0 0 0.2rem rgba(148, 121, 98, 0.25);
}